{#include base}
{#title}Home{/title}
{#body}

<h2>Okta + Quarkus Web App Example</h2>

{#if !user}
<div>
    <p>Hello!</p>
    <p>If you're viewing this page then you have successfully configured and started this example server.</p>
    <p>This example shows you how to use the Okta with a Quarkus web app using Qute templates.</p>
    <p>When you click the login button below, you will be redirected to the login page on your Okta org.  After you authenticate, you will be returned to this application.</p>
</div>
{/if}

{#if user}
    <p>Welcome home, <span>{user.name}</span>!</p>
    <p>You have successfully authenticated against your Okta org, and have been redirected back to this application.</p>
    <p>Visit the <a href="/profile">My Profile</a> page in this application to view the information retrieved with your OAuth Access Token.</p>
{#else}
    <form method="get" action="/profile">
        <button id="login-button" class="btn btn-primary" type="submit">Login</button>
    </form>
{/if}
{/body}
{/include}
